In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import os

In [2]:
print(os.listdir())

['.conda', '.condarc', '.ipynb_checkpoints', '.ipython', '.jupyter', '.matplotlib', '.nbi', '.oracle_jre_usage', '.pgAdmin4.1057243102.addr', '.pgAdmin4.1057243102.log', '.pgAdmin4.startup.log', '.QtWebEngineProcess', '.VirtualBox', '.Wondershare Filmora9', '1960382_Lab5_DA.ipynb', '3D Objects', 'ageingdetector.ipynb', 'anaconda3', 'ansel', 'AppData', 'Application Data', 'bluej', 'CardioGoodFitness.csv', 'Contacts', 'Cookies', 'Creative Cloud Files', 'DAA_Lab3_1960382.ipynb', 'data.csv', 'DataAnalyticsLab_Exp1.ipynb', 'DataAnalyticsLab_Exp2.ipynb', 'DataCoSupplyChainDataset.csv', 'DataSciences1_Python.ipynb', 'Data_ WFP Coronavirus COVID-19 Travel Restrictions - COVID-19 airline restrictions information.csv', 'deliveries.csv', 'Desktop', 'Documents', 'Downloads', 'edb_psqlodbc.exe', 'Favorites', 'First', 'First-copy', 'Indian Premier League.zip', 'IntelGraphicsProfiles', 'Lab1A_1960382_DAA.ipynb', 'Lab1B_1960382_DAA.ipynb', 'Lab2_1960382_DAA.ipynb', 'LAB3_1960382_DA.ipynb', 'Lab4_DA_1960382.ipynb', 'Links', 'Local Settings', 'matches.csv', 'MicrosoftEdgeBackups', 'Music', 'My Documents', 'NetHood', 'NTUSER.DAT', 'ntuser.dat.LOG1', 'ntuser.dat.LOG2', 'NTUSER.DAT{8ee93778-adb0-11ec-b81a-9c7bef181d83}.TM.blf', 'NTUSER.DAT{8ee93778-adb0-11ec-b81a-9c7bef181d83}.TMContainer00000000000000000001.regtrans-ms', 'NTUSER.DAT{8ee93778-adb0-11ec-b81a-9c7bef181d83}.TMContainer00000000000000000002.regtrans-ms', 'ntuser.ini', 'OneDrive', 'Pictures', 'postgresql_12.exe', 'PrintHood', 'Recent', 'SampleSuperstore.csv', 'Sanketh Prakash-AgeingSign-Batch7.zip', 'Sanketh_MiniProject.ipynb', 'Sanketh_tsfTASK.ipynb', 'Saved Games', 'seaborn-data', 'Searches', 'SendTo', 'Sorted', 'Start Menu', 'Templates', 'titanic_test.csv', 'Tracing', 'Travel Restrictions - travel.csv', 'tsf_task.ipynb', 'Videos', 'VirtualBox VMs', 'weight-height.csv', 'WHO-COVID-19-global-data.csv']

In [3]:
df = pd.read_csv("DataCoSupplyChainDataset.csv",encoding="ANSI")

In [4]:
df

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,2/3/2018 22:56,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/18/2018 12:27,Standard Class
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/17/2018 12:06,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/16/2018 11:45,Standard Class
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/15/2018 11:24,Standard Class
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180514,CASH,4,4,40.000000,399.980011,Shipping on time,0,45,Fishing,Brooklyn,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/20/2016 3:40,Standard Class
180515,DEBIT,3,2,-613.770019,395.980011,Late delivery,1,45,Fishing,Bakersfield,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/19/2016 1:34,Second Class
180516,TRANSFER,5,4,141.110001,391.980011,Late delivery,1,45,Fishing,Bristol,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/20/2016 21:00,Standard Class
180517,PAYMENT,3,4,186.229996,387.980011,Advance shipping,0,45,Fishing,Caguas,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/18/2016 20:18,Standard Class
180518,PAYMENT,4,4,168.949997,383.980011,Shipping on time,0,45,Fishing,Caguas,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/19/2016 18:54,Standard Class

In [5]:
df.isnull().sum()

Type                                  0
Days for shipping (real)              0
Days for shipment (scheduled)         0
Benefit per order                     0
Sales per customer                    0
Delivery Status                       0
Late_delivery_risk                    0
Category Id                           0
Category Name                         0
Customer City                         0
Customer Country                      0
Customer Email                        0
Customer Fname                        0
Customer Id                           0
Customer Lname                        8
Customer Password                     0
Customer Segment                      0
Customer State                        0
Customer Street                       0
Customer Zipcode                      3
Department Id                         0
Department Name                       0
Latitude                              0
Longitude                             0
Market                                0
Order City                            0
Order Country                         0
Order Customer Id                     0
order date (DateOrders)               0
Order Id                              0
Order Item Cardprod Id                0
Order Item Discount                   0
Order Item Discount Rate              0
Order Item Id                         0
Order Item Product Price              0
Order Item Profit Ratio               0
Order Item Quantity                   0
Sales                                 0
Order Item Total                      0
Order Profit Per Order                0
Order Region                          0
Order State                           0
Order Status                          0
Order Zipcode                    155679
Product Card Id                       0
Product Category Id                   0
Product Description              180519
Product Image                         0
Product Name                          0
Product Price                         0
Product Status                        0
shipping date (DateOrders)            0
Shipping Mode                         0
dtype: int64

In [6]:
df.describe()

,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Late_delivery_risk,Category Id,Customer Id,Customer Zipcode,Department Id,Latitude,...,Order Item Quantity,Sales,Order Item Total,Order Profit Per Order,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Price,Product Status
count,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180516.000000,180519.000000,180519.000000,...,180519.000000,180519.000000,180519.000000,180519.000000,24840.000000,180519.000000,180519.000000,0.0,180519.000000,180519.0
mean,3.497654,2.931847,21.974989,183.107609,0.548291,31.851451,6691.379495,35921.126914,5.443460,29.719955,...,2.127638,203.772096,183.107609,21.974989,55426.132327,692.509764,31.851451,NaN,141.232550,0.0
std,1.623722,1.374449,104.433526,120.043670,0.497664,15.640064,4162.918106,37542.461122,1.629246,9.813646,...,1.453451,132.273077,120.043670,104.433526,31919.279101,336.446807,15.640064,NaN,139.732492,0.0
min,0.000000,0.000000,-4274.979980,7.490000,0.000000,2.000000,1.000000,603.000000,2.000000,-33.937553,...,1.000000,9.990000,7.490000,-4274.979980,1040.000000,19.000000,2.000000,NaN,9.990000,0.0
25%,2.000000,2.000000,7.000000,104.379997,0.000000,18.000000,3258.500000,725.000000,4.000000,18.265432,...,1.000000,119.980003,104.379997,7.000000,23464.000000,403.000000,18.000000,NaN,50.000000,0.0
50%,3.000000,4.000000,31.520000,163.990005,1.000000,29.000000,6457.000000,19380.000000,5.000000,33.144863,...,1.000000,199.919998,163.990005,31.520000,59405.000000,627.000000,29.000000,NaN,59.990002,0.0
75%,5.000000,4.000000,64.800003,247.399994,1.000000,45.000000,9779.000000,78207.000000,7.000000,39.279617,...,3.000000,299.950012,247.399994,64.800003,90008.000000,1004.000000,45.000000,NaN,199.990005,0.0
max,6.000000,4.000000,911.799988,1939.989990,1.000000,76.000000,20757.000000,99205.000000,12.000000,48.781933,...,5.000000,1999.989990,1939.989990,911.799988,99301.000000,1363.000000,76.000000,NaN,1999.989990,0.0

In [31]:
df['Product Description'] = df['Product Description'].replace(np.nan,'Unknown')

In [32]:
df['Order Zipcode'] = df['Order Zipcode'].replace(np.nan,0)

In [33]:
df.isnull().sum()

Type                             0
Days for shipping (real)         0
Days for shipment (scheduled)    0
Benefit per order                0
Sales per customer               0
Delivery Status                  0
Late_delivery_risk               0
Category Id                      0
Category Name                    0
Customer City                    0
Customer Country                 0
Customer Email                   0
Customer Fname                   0
Customer Id                      0
Customer Lname                   0
Customer Password                0
Customer Segment                 0
Customer State                   0
Customer Street                  0
Customer Zipcode                 0
Department Id                    0
Department Name                  0
Latitude                         0
Longitude                        0
Market                           0
Order City                       0
Order Country                    0
Order Customer Id                0
order date (DateOrders)          0
Order Id                         0
Order Item Cardprod Id           0
Order Item Discount              0
Order Item Discount Rate         0
Order Item Id                    0
Order Item Product Price         0
Order Item Profit Ratio          0
Order Item Quantity              0
Sales                            0
Order Item Total                 0
Order Profit Per Order           0
Order Region                     0
Order State                      0
Order Status                     0
Order Zipcode                    0
Product Card Id                  0
Product Category Id              0
Product Description              0
Product Image                    0
Product Name                     0
Product Price                    0
Product Status                   0
shipping date (DateOrders)       0
Shipping Mode                    0
dtype: int64

In [10]:
query1 = (df['Order Country'] == 'India') & (df['Order Status'] == 'PENDING')

In [11]:
df.loc[query1,'Order City']

1             Bikaner
21           Jabalpur
45          Bangalore
46          Bangalore
382              Pune
             ...
180142    Bhubaneswar
180164           Agra
180248          Dewas
180331          Ajmer
180405          Patna
Name: Order City, Length: 537, dtype: object

In [41]:
query2 = df['Order Status'] == 'SUSPECTED_FRAUD'

In [42]:
df.loc[query2, 'Order Country'].mode()

0    Estados Unidos
dtype: object

In [37]:
column = df["Order Item Discount Rate"]

In [38]:
max_value = column.max()

In [39]:
max_value

0.25

In [40]:
query3 = df['Order Item Discount Rate'] == max_value

In [18]:
df[query3]

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
13,DEBIT,2,1,24.580000,245.809998,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/15/2018 8:15,First Class
31,DEBIT,5,4,113.070000,245.809998,Late delivery,1,73,Sporting Goods,Wheaton,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/18/2018 1:57,Standard Class
65,PAYMENT,6,2,76.040001,224.979996,Late delivery,1,9,Cardio Equipment,Caguas,...,NaN,191,9,NaN,http://images.acmesports.sports/Nike+Men%27s+F...,Nike Men's Free 5.0+ Running Shoe,99.989998,0,8/13/2017 6:33,Second Class
72,PAYMENT,3,2,12.710000,112.500000,Late delivery,1,24,Women's Apparel,Caguas,...,NaN,502,24,NaN,http://images.acmesports.sports/Nike+Men%27s+D...,Nike Men's Dri-FIT Victory Golf Polo,50.000000,0,9/21/2017 1:14,Second Class
111,TRANSFER,4,4,68.980003,149.960007,Shipping on time,0,29,Shop By Sport,Caguas,...,NaN,627,29,NaN,http://images.acmesports.sports/Under+Armour+G...,Under Armour Girls' Toddler Spine Surge Runni,39.990002,0,6/8/2017 16:06,Standard Class
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180441,DEBIT,2,1,81.000000,299.989990,Late delivery,1,45,Fishing,Caguas,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/22/2016 12:04,First Class
180459,DEBIT,6,4,84.000000,299.989990,Late delivery,1,45,Fishing,Placentia,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/25/2016 5:56,Standard Class
180477,DEBIT,2,4,-449.980011,299.989990,Advance shipping,0,45,Fishing,Caguas,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/20/2016 0:31,Standard Class
180495,PAYMENT,3,4,-239.990006,299.989990,Advance shipping,0,45,Fishing,Roswell,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/19/2016 22:35,Standard Class
180513,PAYMENT,3,4,119.989998,299.989990,Advance shipping,0,45,Fishing,Lancaster,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/19/2016 5:04,Standard Class

In [19]:
df.loc[query3, 'Product Name']

13                                         Smart watch
31                                         Smart watch
65                    Nike Men's Free 5.0+ Running Shoe
72                 Nike Men's Dri-FIT Victory Golf Polo
111       Under Armour Girls' Toddler Spine Surge Runni
                              ...
180441        Field & Stream Sportsman 16 Gun Fire Safe
180459        Field & Stream Sportsman 16 Gun Fire Safe
180477        Field & Stream Sportsman 16 Gun Fire Safe
180495        Field & Stream Sportsman 16 Gun Fire Safe
180513        Field & Stream Sportsman 16 Gun Fire Safe
Name: Product Name, Length: 10029, dtype: object

In [20]:
query5 = (df['Order Status'] == 'COMPLETE')& (df['Days for shipping (real)'] > df['Days for shipment (scheduled)'])

In [21]:
df.loc[query5]

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
6,DEBIT,2,1,95.180000,288.420013,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/15/2018 10:42,First Class
13,DEBIT,2,1,24.580000,245.809998,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/15/2018 8:15,First Class
15,DEBIT,2,1,-259.579987,324.470001,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/15/2018 7:33,First Class
18,DEBIT,2,1,102.260002,314.640015,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/15/2018 6:30,First Class
25,DEBIT,6,2,131.169998,285.140015,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/19/2018 4:03,Second Class
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180479,DEBIT,6,4,133.839996,395.980011,Late delivery,1,45,Fishing,Las Vegas,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/23/2016 22:24,Standard Class
180499,DEBIT,4,2,-258.779999,387.980011,Late delivery,1,45,Fishing,Caguas,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/20/2016 17:41,Second Class
180508,DEBIT,4,2,85.000000,339.980011,Late delivery,1,45,Fishing,Waipahu,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/20/2016 7:10,Second Class
180512,DEBIT,6,4,86.400002,319.980011,Late delivery,1,45,Fishing,Caguas,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/22/2016 6:07,Standard Class
180515,DEBIT,3,2,-613.770019,395.980011,Late delivery,1,45,Fishing,Bakersfield,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/19/2016 1:34,Second Class

In [22]:
df['Product Name'] = df['Product Name'].str[:4]

In [23]:
query4 = df['Product Name'] == 'Nike'

In [24]:
df.loc[query4]

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
50,PAYMENT,6,2,33.599998,96.000000,Late delivery,1,24,Women's Apparel,Caguas,...,NaN,502,24,NaN,http://images.acmesports.sports/Nike+Men%27s+D...,Nike,50.000000,0,4/5/2016 4:37,Second Class
52,PAYMENT,3,2,9.100000,91.000000,Late delivery,1,24,Women's Apparel,Caguas,...,NaN,502,24,NaN,http://images.acmesports.sports/Nike+Men%27s+D...,Nike,50.000000,0,12/1/2016 1:18,Second Class
53,PAYMENT,5,2,-21.750000,87.000000,Late delivery,1,24,Women's Apparel,Caguas,...,NaN,502,24,NaN,http://images.acmesports.sports/Nike+Men%27s+D...,Nike,50.000000,0,1/5/2017 15:47,Second Class
54,PAYMENT,6,2,6.150000,82.000000,Late delivery,1,24,Women's Apparel,Caguas,...,NaN,502,24,NaN,http://images.acmesports.sports/Nike+Men%27s+D...,Nike,50.000000,0,10/31/2015 6:24,Second Class
59,PAYMENT,2,2,-184.779999,263.970001,Shipping on time,0,9,Cardio Equipment,Caguas,...,NaN,191,9,NaN,http://images.acmesports.sports/Nike+Men%27s+F...,Nike,99.989998,0,10/6/2016 22:55,Second Class
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179604,TRANSFER,5,4,-33.750000,449.959992,Late delivery,1,9,Cardio Equipment,Caguas,...,NaN,191,9,NaN,http://images.acmesports.sports/Nike+Men%27s+F...,Nike,99.989998,0,4/5/2017 1:39,Standard Class
179605,TRANSFER,2,4,141.360001,434.959992,Advance shipping,0,9,Cardio Equipment,Caguas,...,NaN,191,9,NaN,http://images.acmesports.sports/Nike+Men%27s+F...,Nike,99.989998,0,2/12/2017 6:27,Standard Class
179606,TRANSFER,3,4,188.979996,419.959992,Advance shipping,0,9,Cardio Equipment,Caguas,...,NaN,191,9,NaN,http://images.acmesports.sports/Nike+Men%27s+F...,Nike,99.989998,0,6/16/2017 2:57,Standard Class
179607,TRANSFER,5,4,111.989998,399.959992,Late delivery,1,9,Cardio Equipment,Caguas,...,NaN,191,9,NaN,http://images.acmesports.sports/Nike+Men%27s+F...,Nike,99.989998,0,4/19/2015 5:59,Standard Class
179608,TRANSFER,4,4,167.979996,399.959992,Shipping on time,0,9,Cardio Equipment,Caguas,...,NaN,191,9,NaN,http://images.acmesports.sports/Nike+Men%27s+F...,Nike,99.989998,0,1/22/2015 11:21,Standard Class

In [25]:
df.loc[query4, 'order date (DateOrders)']

50          3/30/2016 4:37
52         11/28/2016 1:18
53        12/31/2016 15:47
54         10/25/2015 6:24
59         10/4/2016 22:55
                ...
179604      3/31/2017 1:39
179605      2/10/2017 6:27
179606      6/13/2017 2:57
179607      4/14/2015 5:59
179608     1/18/2015 11:21
Name: order date (DateOrders), Length: 57309, dtype: object

In [26]:
df["order date (DateOrders)"] = pd.to_datetime(df["order date (DateOrders)"])

In [27]:
df["order date (DateOrders)"].dt.year.value_counts()

2015    62650
2016    62550
2017    53196
2018     2123
Name: order date (DateOrders), dtype: int64